* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: hsl(257, 40%, 49%);
  background-image: url("images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  min-height: 100vh;
  overflow-x: hidden;

  padding: 40px; 
}


.logo {
  width: 180px;
  margin-bottom: 40px;
}


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
}


.chatbox img {
  width: 100%;
  max-width: 550px;
  height: auto;
  display: block;
}


.text {
  max-width: 480px;
}

.text h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.text p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  opacity: 0.9;
}


button {
  background: white;
  color: hsl(257, 40%, 49%);
  padding: 15px 45px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #eee;
}


.social-icons {
  display: flex;
  gap: 20px;
  position: fixed;
  right: 40px;
  bottom: 40px;
}

.social-icons a {
  color: white;
}

.social-icons i {
  border: 1px solid white;
  padding: 12px;
  border-radius: 50%;
  font-size: 18px;
  transition: 0.3s;
}

.social-icons i:hover {
  background: white;
  color: hsl(257, 40%, 49%);
}

/* MOBILE */
@media (max-width: 768px) {

  body {
    padding: 15px;     
    text-align: center;
    background-image: url("images/bg-mobile.svg");
    background-size: cover;
    min-height: 100vh;   
    overflow-y: hidden;  
  }

  .container {
    flex-direction: column;
    text-align: center;
    gap: 25px; 
  }

  .chatbox img {
    width: 70%;
    max-width: 220px; 
    margin: 0 auto;
  }

  .text h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .text p {
    font-size: 15px;
    margin-bottom: 20px;
  }

  button {
    width: 75%;
    padding: 12px;
  }

  .social-icons {
    position: static;
    justify-content: center;
    margin-top: 20px; 
  }
}
